.menu_position{
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;


}
.card_firstline:hover::first-line{
 color: white;
}
.text_shadow{
    
    text-shadow: 0 0 5px black;
}
.text_padding {
    padding: 20px;

}
.obj_fit{
    object-fit: cover;
}
.main_margin{
    margin-top: 5em ;
    margin-bottom: 5em;
}
.dorder_dot{
    border-bottom: 2px dotted black;
    width: 100%;
    height: 15px;
}
#events {
    background-image: url(/img/img2.jpg);
 
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    

    
}

.event_padding {
    padding: 30px;
}

/* transitions and animations */
.img_hover {
    transition: transform 1s;

}
.img_hover:hover{
    transform: scale(1.2, 1.2);
    
}
.card_hover{
    transition: transform 0.5s;

}
.card_hover:hover{
    transform: translateY(-15px);
}